<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Investment Calculator</title>
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <link href="app.component.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>Investment Calculator</h1>
    <div class="input-container">
      <label for="amount">Valor Monetário:</label>
      <input type="number" id="amount" step="0.01" min="0" required>
    </div>
    <div class="input-container">
      <label for="months">Prazo (em meses):</label>
      <input type="number" id="months" min="2" required>
    </div>
    <button id="calculateBtn" (click)="calculateInvestment()">Calculate</button>
    <div class="result-container">
      <h2>Resultado:</h2>
      <p><strong>Resultado Bruto:  </strong> <span id="resultGross"> - </span></p>
      <p><strong>Resultado Líquido:  </strong> <span id="resultNet"> - </span></p>
    </div>
  </div>
  <script src="app.component.js"></script>
</body>
</html>
